.App {
  text-align: center;
}

/* Hide Arrow Of Input Number */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Scroll To Top Button Style */

.scroll-button {
  background-color: #2563eb !important;
  border: 2px solid #2563eb !important;
  border-radius: 50% !important;
  padding: 9px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  box-shadow: 0px 1px 15px #2563eb !important;
  z-index: 999 !important;
  transition: ease-in-out 0.2s;
}

.scroll-button:hover {
  background-color: black !important;
  border: 1px solid black !important;
  box-shadow: 0px 1px 15px black !important;
}

/* Mega Menu Open Animation */
.megaMenuAnimation {
  animation: openMegaMenu 1s ease-in-out;
}
@keyframes openMegaMenu {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Slider Background */

.slider-bg {
  background-image: url("./Assets/Images/Slider/Slider-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 80vh;
}

.slider-bg2 {
  background-image: url("./Assets/Images/Slider/slider-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 80vh;
}

.slider-bg3 {
  background-image: url("./Assets/Images/Slider/slider-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 80vh;
}

/* Style For Pagination */

.paginationBttns {
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  margin-bottom: 50px;
}
.paginationBttns li {
  margin: 0 4px;
  padding: 2px 10px;
  border: 1px solid #2563eb;
  border-radius: 5px;
  transition: ease-in-out 0.3s;
}
.paginationBttns li:hover {
  background: #2563eb;
  color: #fff;
  cursor: pointer;
}
.paginationBttns li:hover .nextBttn {
  color: #fff;
}
.paginationBttns li:hover .previousBttn {
  color: #fff;
}
.paginationDisabled {
  color: grey;
  cursor: default;
  background: none;
}
.paginationActive {
  background-color: #2563eb;
  color: #fff;
}
.previousBttn,
.nextBttn {
  color: #2563eb;
  text-decoration: none;
}

/* Custom Animation */

.trans-animation {
  animation: trans 3s ease infinite alternate;
}

@keyframes trans {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-25px);
  }
}

/* 404 Page Style */

.error-bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 450px;
  background-position: center;
}
