.App {
  text-align: center;
}

/* Hide Arrow Of Input Number */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Scroll To Top Button Style */

.scroll-button {
  background-color: orangered !important;
  border: 2px solid orangered !important;
  border-radius: 50% !important;
  padding: 9px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  box-shadow: 0px 1px 15px orangered !important;
  z-index: 999 !important;
  transition: ease-in-out 0.2s;
}

.scroll-button:hover {
  background-color: black !important;
  border: 1px solid black !important;
  box-shadow: 0px 1px 15px black !important;
}

/* Mega Menu Open Animation */
.megaMenuAnimation {
  animation: openMegaMenu 1s ease-in-out;
}
@keyframes openMegaMenu {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Slider Background */

.slider-bg {
  background-image: url("./Assets/Images/Slider/Slider-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 80vh;
}

.slider-bg2 {
  background-image: url("./Assets/Images/Slider/slider-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 80vh;
}

.slider-bg3 {
  background-image: url("./Assets/Images/Slider/slider-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 80vh;
}

/* Style For Pagination */

.paginationBttns {
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  margin-bottom: 50px;
}
.paginationBttns li {
  margin: 0 4px;
  padding: 2px 10px;
  border: 1px solid #2563eb;
  border-radius: 5px;
  transition: ease-in-out 0.3s;
}
.paginationBttns li:hover {
  background: #2563eb;
  color: #fff;
  cursor: pointer;
}
.paginationBttns li:hover .nextBttn {
  color: #fff;
}
.paginationBttns li:hover .previousBttn {
  color: #fff;
}
.paginationDisabled {
  color: grey;
  cursor: default;
  background: none;
}
.paginationActive {
  background-color: #2563eb;
  color: #fff;
}
.previousBttn,
.nextBttn {
  color: #2563eb;
  text-decoration: none;
}

/* Custom Animation */

.trans-animation {
  animation: trans 3s ease infinite alternate;
}

@keyframes trans {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-25px);
  }
}

/* 404 Page Style */

.error-bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 450px;
  background-position: center;
}

/* Applicaation Section BG  */

.bg-style {
  background-image: url("./Assets/Images/Others/shape.png");
  background-repeat: no-repeat;
  background-position: top right;
}

/* Contact Us Page Design */

.contact-bannar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.644)),
    url("https://i.ibb.co/mDk3WKW/contact-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 75vh;
}

/*-----------> Remove Arrow From Input Type Number <----------*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Promo Section Style */
.promo-background {
  background-image: url("./Assets/Images/Others/hot-deal.png");
  background-position: center center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  min-height: 60vh;
}

/* Header Button Style */
.header-button:before,
.header-button:after {
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #2563eb;
  transition: transform 0.6s;
  will-change: transform;
}
.header-button:before {
  left: -100%;
}
.header-button:after {
  left: 100%;
}
.header-button:hover:before {
  transform: translateX(100%);
}
.header-button:hover:after {
  transform: translateX(-100%);
}

/* All Button Style */
.button-style {
  --tilt: 40px;
}

.button-style:before,
.button-style:after {
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background: white !important;
  clip-path: polygon(
    0 0,
    100% 0,
    calc(100% - var(--tilt)) 50%,
    100% 100%,
    0 100%
  );
  transition: transform 0.6s;
}
.button-style:before {
  left: -100%;
}
.button-style:after {
  left: 100%;
  transform: rotate(180deg);
}
.button-style:hover:before {
  transform: translateX(100%);
}
.button-style:hover:after {
  transform: rotate(180deg) translateX(100%);
}

/* Team Area Design */
.overlay-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.849);
  overflow: hidden;
  width: 100%;
  height: 0%;
  transition: .5s ease;
}
.team-container:hover .overlay-details{
  height: 20%;
}